<div class=" lg:mt-12 "><!--Filtering-->
    <div class=" hidden lg:flex px-5 py-2 bg-[#55808a] rounded-t-md   <%  if(products.length===0){ %>lg:hidden<% } %>">
        <h1 class="text-white font-semibold rounedtmd"><%=products[0]?.category %></h1>
    </div>
    <form id="filterForm" class="drop-shadow-sm  rounded-md pb-8 mb-8 space-y-10 pr-28 pl-4 bg-white hidden lg:block z-10  relative <%  if(products.length===0){ %>lg:hidden<% } %>">
        <div class=" mb-2 pt-2"><!--Condition-->
            <div class="text-sm font-medium py-2">
                CONDITION
            </div>
            <div class="flex flex-col text-sm space-y-4">
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="likenew" name="condition" value="Like new">
                    <label class="cursor-pointer text-xs" for="likenew">Like New</label>
                </div>
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="old" name="condition" value="Old">
                    <label class="cursor-pointer text-xs" for="old">Old</label>
                </div>
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="readable" name="condition" value="Readable">
                    <label class="cursor-pointer text-xs" for="readable">Readable</label>
                </div>
            </div>
        </div>
        <div class=" mb-2"><!--Price-->
            <div class="text-sm font-medium py-2">
                PRICE
            </div>
            <div class="flex flex-col text-sm space-y-4">
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="0-100" name="priceRange" value="0-100">
                    <label class="cursor-pointer text-xs" for="0-100">Under 100</label>
                </div>
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="100-200" name="priceRange" value="100-200">
                    <label class="cursor-pointer text-xs" for="100-200">Rs.100 to Rs.200</label>
                </div>
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="200-300" name="priceRange" value="200-300">
                    <label class="cursor-pointer text-xs" for="200-300">Rs.200 to Rs.300</label>
                </div>
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="300-400" name="priceRange" value="300-400">
                    <label class="cursor-pointer text-xs" for="300-400">Rs.300 to Rs.400</label>
                </div>
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="400-500" name="priceRange" value="400-500">
                    <label class="cursor-pointer text-xs" for="400-500">Rs.400 to Rs.500</label>
                </div>
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="500-10000" name="priceRange" value="500-10000">
                    <label class="cursor-pointer text-xs" for="500-10000">Above 500</label>
                </div>
            </div>
        </div>
        <div class=" mb-2"><!--Discount-->
            <div class="text-sm font-medium py-2">
                DISCOUNT
            </div>
            <div class="flex flex-col text-sm space-y-4">
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="10%" name="discount" value="10">
                    <label class="cursor-pointer text-xs" for="10%">10% and above</label>
                </div>
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="30%" name="discount" value="30">
                    <label class="cursor-pointer text-xs" for="30%">30% and above</label>
                </div>
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="50%" name="discount" value="50">
                    <label class="cursor-pointer text-xs" for="50%">50% and above</label>
                </div>
                <div class="select-none cursor-pointer space-x-2 flex items-center">
                    <input class="cursor-pointer" type="checkbox" id="80%" name="discount" value="80">
                    <label class="cursor-pointer text-xs" for="80%">80% and above</label>
                </div>
            </div>
        </div>
        
    </form>
</div>