<header class="bg-[#5E8E99] md:px-10 px-2 py-2 lg:py-0  hidden lg:block z-10 ">
    <div class="flex justify-between lg:justify-around  items-center"> <!--Top logo sign in cart-->
        <div class="flex items-center space-x-3 lg:space-x-1 xl:space-x-5 md:space-x-5"> <!--left-->
                <a id="menuButton" onclick="openNav();return false;" href="" class="flex items-center"><!--menu-->
                    <img class="h-[18px] md:h-6 lg:hidden" src="/images/menuWhite.png" alt="">
                </a> 
            <a href="" class="flex items-center"><!--Logo-->
                <img class="h-7 md:h-8 lg:h-10" src="/images/Logo.png" alt="">
            </a> 
            <!--Search on Desktop-->
            <form  class="hidden outline-none  mb-3 lg:flex lg:items-center  rounded-md py-2 mt-3 searchDesktopHeader">
                <input  placeholder="Search books here "  class="md:py-2   placeholder:text-sm  w-full lg:w-[25rem] xl:w-[30rem]  rounded-l-md px-2 outline-none  text-sm bg-blue-50 searchHeaderInput" type="text" name="" id="searchHeaderInput">
                <button type="submit" class="bg-[#DAA520] w-fit px-2 py-[6px] rounded-r-md">
                    <img class="h-5 md:h-6 object-contain lg:h-6" src="/images/search.png"     alt="">
                </button>
            </form>
        </div>
        <div class="flex items-center  space-x-4 lg:space-x-12"><!--right-->
           <div href="" class="flex items-center space-x-1 text-white ">
                <img class="h-4 md:h-6" src="/images/user white filled .png"  alt="">
                <% if(locals.user) {%>
                    <% const firstName = user.split(' ')[0]; %>
                    <p class="text-sm font-medium md:text-base capitalize"><%= firstName %></p>
                <%  }else{%>
                    <a href="/user/login" class="text-sm font-medium md:text-base">Sign in</a>
                <% } %>
           </div>
           <a href="/user/myCart" class="lg:flex items-center lg:space-x-1">
                <img class="h-5 md:h-7" src="/images/shopping-cart white.png" alt="">
                <p class="font-medium textsm  md:text-base text-white hidden lg:block">Cart</p>
           </a>
           <button class=" items-center  hidden lg:block relative group" id="moreIconContainer">
                <div class="flex items-center peer" > <!--Drop down menu-->
                    <p class="font-medium text-white text-lg ">More</p>
                    <span id="moreIcon"  class="material-symbols-outlined text-white mt-[2px]">
                        expand_more
                    </span>
                </div>
                <div id="dropDownContents" class="dropdown_contents absolute z-10 top-[15px] right-[-100%] min-w-[190px]  group-hover:block  ">  <!--Dropdown contents-->
                    <a href="" class="flex items-center space-x-5 px-2 py-2 border-b-[.2px] border-b-[#666666] hover:bg-gray-100 -z-10 invisible ">
                        <img class="h-4" src="/images/user blue filled.png" alt="">
                        <p class="text-sm text-[#666666]">My Account</p>
                    </a>
                    <a href="/user/myaccount" class="flex bg-white items-center space-x-5 px-2 py-3 border-b-[.2px] border-b-[#666666] hover:bg-gray-100 rounded-t-sm">
                        <img class="h-4" src="/images/user blue filled.png" alt="">
                        <p class="text-sm text-[#666666]">My Account</p>
                    </a>
                    <a href="/user/myCart" class="flex bg-white items-center space-x-5 px-2 py-3 border-b-[.2px] border-b-[#666666] hover:bg-gray-100 ">
                        <img class="h-4" src="/images/shopping-cart blue.png" alt="">
                        <p class="text-sm text-[#666666]">My Cart</p>
                    </a>
                    <a href="/admin/banner" class="flex bg-white items-center space-x-5 px-2 py-3 border-b-[.2px] border-b-[#666666] hover:bg-gray-100 ">
                        <img class="h-4" src="/images/heart fill blue.png" alt="">
                        <p class="text-sm text-[#666666]">Wish List</p>
                    </a>
                    <a href="/admin/banner" class="flex bg-white items-center space-x-5 px-2 py-3 border-b-[.2px] border-b-[#666666] hover:bg-gray-100 ">
                        <img class="h-4" src="/images/location blue filled.png" alt="">
                        <p class="text-sm text-[#666666]">My Orders</p>
                    </a>
                    <a href="/admin/banner" class="flex bg-white items-center space-x-5 px-2 py-3 border-b-[.2px] border-b-[#666666] hover:bg-gray-100 ">
                        <img class="h-4" src="/images/open-book blue.png" alt="">
                        <p class="text-sm text-[#666666]">About Us</p>
                    </a>
                    <a href="/admin/banner" class="flex bg-white items-center space-x-5 px-2 py-3 border-b-[.2px] border-b-[#666666] hover:bg-gray-100 rounded-b-md ">
                        <img class="h-4" src="/images/phone blue filled.png" alt="">
                        <p class="text-sm text-[#666666]">Contact Us</p>
                    </a>
                </div>
           </button>
        </div>
    </div>
    <div class="lg:hidden"> <!--Search-->
        <div class="flex px-7 sm:px-16 rounded-md py-2 mt-3">
            <input placeholder="Search books here "  class="md:py-2 placeholder:text-xs  w-full rounded-l-md px-2 outline-none text-sm" type="text" name="" id="">
            <div class="bg-[#DAA520] flex items-center w-fit px-2 py-1 rounded-r-md">
                <img class="h-5 object-contain" src="/images/search.png" alt="">
            </div>
        </div>
    </div>
  
</header>
<script src="../../../javascripts/admin/adminHeader.js"></script>
