<div class="" id="searchResultContainer">
    <div class=" lg:mt-12"><!--Filtering-->
        
    </div>
    <div>
        <%-include("../user/searchResultInnerData.ejs")%>
    </div>

    <script src="../../../javascripts/user/searchFilter.js"></script>

