<footer class="bg-[#E1E0E0] py-4 ">
    <div class="flex justify-evenly font-medium text-[10px] text-[#666666]">
        <div class="flex flex-col text-start">
            <a href="">About Us</a>
            <a href="">Contact Us</a>
            <a href="">Mail Us</a>
        </div>
        <div class="flex flex-col text-start">
            <a href="">Sign in</a>
            <a href="">Sign up</a>
            <a href="">Sigh Out</a>
        </div>
        <div class="flex flex-col text-start">
            <a href="">Your Account </a>
            <a href="">Your Orders</a>
            <a href="">Become A seller</a>

        </div>
    </div>
    <div class="flex justify-center text-[9px] mt-3  border-t-[#666666] border-t-[.1px] pt-2 text-gray-700 "> <!--Copy right-->
        <p>&copy; 2023 BinBooks All rights reserved.</p>
    </div>
</footer>