<footer class="bg-[#E1E0E0] py-4 ">
    <div class="flex justify-evenly font-medium text-[10px] text-[#666666]">
        <div class="flex flex-col text-start">
            <a class="hover:scale-105 hover:text-black" href="/user/aboutUs">About Us</a>
            <a  class="hover:scale-105 hover:text-black" href="/user/contactUs">Contact Us</a>
            <a class="hover:scale-105 hover:text-black" href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=binbookskerala@gmail.com" target="_blank">Mail Us</a>
        </div>
        <div class="flex flex-col text-start">
            <a class="hover:scale-105 hover:text-black" href="/user/login">Sign in</a>
            <a  class="hover:scale-105 hover:text-black"href="/user/login">Sign up</a>
            <a  class="hover:scale-105 hover:text-black" href="/user/logOut">Sigh Out</a>
        </div>
        <div class="flex flex-col text-start">
            <a class="hover:scale-105 hover:text-black" href="/user/myAccount">Your Account </a>
            <a class="hover:scale-105 hover:text-black" href="/user/yourOrders">Your Orders</a>
            <a class="hover:scale-105 hover:text-black"  href="/user/contactUs">Become A seller</a>

        </div>
    </div>
    <div class="flex justify-center text-[9px] mt-3  border-t-[#666666] border-t-[.1px] pt-2 text-gray-700 "> <!--Copy right-->
        <p>&copy; 2023 BinBooks All rights reserved.</p>
    </div>
</footer>