<header class="bg-[#5E8E99] flex items-center justify-between px-3 py-2 lg:hidden">
    <div class="flex items-center space-x-2"><!--Categories and back-->
        <span onclick="history.back()" class="space-x-2 material-symbols-outlined text-white text-2xl font-medium">
            arrow_back
        </span>
        <p class="text-white font-medium">Categories</p>
    </div>
    <div class="flex items-center space-x-5 "><!--Search Cart user-->
        <img class="h-5" src="/images/search white.png" alt="">
        <img class="h-5" src="/images/shopping-cart white.png" alt="">
        <img class="h-5" src="/images/user white filled .png" alt="">
    </div>
</header>