
<%-include("head.ejs")%>
<body class="bg-slate-200 ">
    <div class="fixed inset-0 flex justify-center items-center bg-[rgba(0,0,0,0.3)] hidden " id="productUpload">
        <form action="" class="flex bg-white rounded-lg w-fit  py-8 px-5 relative">
            <div class="space-y-5 grid grid-cols-4 grid-rows-6 mr-10"><!--left-->
                <div class="flex  space-x-5 items-center col-span-4 justify-between">
                    <label class="text-sm" for="">Book name</label>
                    <input class="px-2 border-gray-400 border-[.1px] w-[410px] rounded-full" type="text">
                </div>
                <div class="flex  space-x-5 items-center col-span-4 justify-between">
                    <label class="text-sm" for="">Author</label>
                    <input class="px-2 border-gray-400 border-[.1px] w-[410px] rounded-full" type="text">
                </div>
                <div class="flex col-start-1 row-start-3 col-end-3 justify-between mr-5">
                    <label class="text-sm " for="">MRP</label>
                    <input class="px-2 border-gray-400 border-[.1px] w-1/2 rounded-full" type="text">
                </div>
                <div class="flex col-start-3 row-start-3 col-end-5 justify-between">
                    <label class="text-sm" for="">Discount</label>
                    <input class="px-2 border-gray-400 border-[.1px] w-1/2 rounded-full" type="text">
                </div>
                <div class="flex col-start-1 row-start-4 col-end-3 justify-between mr-5">
                    <label class="text-sm " for="">Del charge</label>
                    <input class=" border-gray-400 border-[.1px] w-1/2 rounded-full" type="number">
                </div>
                <div class="flex col-start-3 row-start-4 col-end-5 justify-between">
                    <label class="text-sm" for="">Pages</label>
                    <input class="px-2 border-gray-400 border-[.1px] w-1/2 rounded-full" type="text">
                </div>
                <div class="flex col-start-1 row-start-5 col-end-3 justify-between mr-5">
                    <label class="text-sm " for="">Width</label>
                    <input class="px-2 border-gray-400 border-[.1px] w-1/2 rounded-full" type="text">
                </div>
                <div class="flex col-start-3 row-start-5 col-end-5 justify-between">
                    <label class="text-sm" for="">Height</label>
                    <input class="px-2 border-gray-400 border-[.1px] w-1/2 rounded-full" type="text">
                </div>
                <div class="flex col-start-1 row-start-6 col-end-3 justify-between mr-5">
                    <label class="text-sm " for="">Category</label>
                    <select class="border-gray-400 border-[.1px] w-1/2 rounded-full text-left text-xs px-2 text-gray-500" name="" id="">
                        <option value="">Novel</option>
                        <option value="">Relegious</option>
                    </select>
                </div>
                <div class="flex col-start-3 row-start-6 col-end-5 justify-between">
                    <label class="text-sm" for="">Condtion</label>
                    <select class="border-gray-400 border-[.1px] w-1/2 rounded-full text-left text-xs px-2 text-gray-500" name="" id="">
                        <option value="">Like new</option>
                        <option value="">Old</option>
                        <option value="">Readable</option>
                    </select>
                </div>
                <div class="flex col-start-1 row-start-7 col-end-3 justify-between mr-5">
                    <label class="text-sm " for="">Status</label>
                    <select class="border-gray-400 border-[.1px] py-1 w-1/2 rounded-full text-left text-xs px-2 text-gray-500" name="" id="">
                        <option value="">Stock</option>
                        <option value="">No stock</option>
                    </select>
                </div>

                <div class="flex  space-x-5 items-center col-span-4 justify-between ">
                    <label class="text-sm" for="">Publisher</label>
                    <input class="px-2 border-gray-400 border-[.1px] w-[410px] rounded-full" type="text">
                </div>

                
               

            </div>
            <div class="flex  flex-col justify-between mr-4 "><!--right-->
                
                <div class="flex flex-col w-full">
                    <label class="text-sm" for="">Book Description</label>
                    <textarea class="border-gray-400 border-[.1px]  " name="" id="" cols="40
                    " rows="10"></textarea>
                </div>
               
                <div class="flex  space-x-2 items-center">
                        <p class="text-sm">Upload image</p>
                        <div class="">
                            <input type="file" name="" id="productImage" hidden onchange="Imagedone()" >
                            <label for="productImage" class="flex items-center space-x-2 border-dotted border-[.1px] border-gray-400 px-2 w-fit py-2 cursor-pointer">
                                <img src="/images/imageUpload.png" id="UploadImage" alt="" class="h-4  " >
                                <img class="h-4 hidden" src="/images/tick.png" id="tickImage" alt="">
                                <p class="text-sm text-[#666666] " id="BrowseImage">Browse image</p>
                                <p class="text-sm text-[#666666] hidden  " id="imageDone">Done</p>
                            </label>
                        </div>
                        
                </div>
                <div class="w-full ">
                    <button class="bg-[#DAA520] text-white w-full rounded-full fontibold text-base py-1">
                        Save
                   </button>
                </div>
            </div>
            <div class="cursor-pointer" onclick="hideproductuploadPopup()" >
                <img class="h-6" src="/images/close.png" alt="">
            </div>
        </form>
    </div>
</body>
</html>