<%-include("../partials/user/head.ejs")%>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="stylesheet" href="/css/user/header.css">
<link rel="stylesheet" href="">
<body class="bg-[#F2F2F2] flex flex-col h-screen pb-2">
    <%-include('../partials/user/headerPhone.ejs')%>
    <%-include('../partials/user/HeaderDesktopUser.ejs')%>
    <div class="searchResult-Container">
    </div>
    <main>
       
        <div class="px-4 mt-5 lg:px-96">
            <div class="bg-white py-3 rounded-md px-5 space-y-10 lg:h-52">
                <div class="flex flex-col space-y-1  items-center lg:mt-10">
                    <div class="flex items-center space-x-2  justify-center">
                        <h2 class="text-green-700  font-medium text-xl ">Order Successful</h2>
                        <span class="material-symbols-outlined text-green-700 font-semibold">
                            task_alt
                         </span>
                    </div>
                    <div class="text-[#666666] text-xs">
                        <p>Your item will be delivered on <span class="text-green-700"><%= getDeliveryDate(3) %></span> </p>
                    </div>
                </div>
               
                <div class="flex items-center justify-between font-semibold border-y-[.1px] border-y-gray-300 cursor-pointer">
                    <p>See order summery</p>
                    <div class=" rounded-[50%] cursor-pointer bg-gray-100 m-[5px] inline-block">
                        <span class="material-symbols-outlined  text-center h-5 w-5 align-middle table-cell text-[#666666] ">
                            chevron_right
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </main>  
    <script src="/javascripts/user/stateLoad.js"></script>
</body>
<script src="../../javascripts/user/common.js"></script>