
<%-include("head.ejs")%>
<body class="bg-slate-200 ">
    <div class="fixed inset-0 flex justify-center items-center bg-[rgba(0,0,0,0.3)] hidden" id="productDelete">
        <form action="" class=" bg-white rounded-lg w-fit  py-3 px-5  text-sm ">
           <div class="flex flex-col items-center justify-center space-y-2">
                <div class=" flex items-center justify-center px-2 py-2 bg-[#FEE2E1] rounded-full w-14 h-14">
                    <img class="h-10   " src="/images/warning red.png" alt="">
                </div>
                <div>
                    <h2 class="font-semibold text-lg">Are you sure??</h2>
                </div>
                <div class="max-w-xs text-center text-[#666666]">
                    <p>This action cannot be undone. This product 
                        will be permanently removed</p>
                </div>
                <div class="w-full">
                    <div class="flex flex-col space-y-2">
                        <button type="submit" class="w-full bg-red-600 text-white font-medium py-1 rounded-sm">
                            Delete Product
                        </button>
                        <button onclick="hideDeletePopup()" type="button" class="w-full border  text-black font-medium py-1 rounded-sm ">
                            Cancel
                        </button>
                    </div>
                   
                </div>
           </div>
        </form>
        
    </div>
</body>
</html>